@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.container {
    height: 50vh;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/banner_new2_changed.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

nav {
    height: 8vh;
}

.carousel-inner img {
    width: 100%;
    height: 92vh;
}

.zebra {
    width: 100%;
    height: 300px;
}

h1 {
    padding-top: 20px;
    text-align: center;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    line-height: 30px;
}

.flex-item {
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height: auto;
}

.flex-item:before {
    content: '';
    float: left;
    padding-top: 100%;
}

.text-box {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
}

#more {
    display: none;
}

.text-box img {
    width: 50%;
    height: 50%;
    position: center;
    padding-bottom: 20px;
}

.about-me {
    text-align: center;
}

.about-me img {
    width: 200px;
    height: 200px;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-github {
    color: black;
}

.fa-facebook {
    color: #3b5998;
}


.fa-instagram {
    color: #pink;
}

.fa-github:hover,
.fa-facebook:hover,
.fa-instagram:hover {
    color: #d5d5d5;
}

#div1 {
  position: center;
  text-align: center;
  float: left;
  width: 30vh;
  height: 20vh;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  margin-left: 55vh;
}
#div2 {
  position: center;
  text-align: center;
  float: left;
  width: 30vh;
  height: 20vh;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

input {
    margin: 10px;
}

#toggle, #toggle1, #panel, #stop1, #callback1, #chain1 {
    width: 75vh;
    height: 50vh;
    position: center;
    padding-bottom: 20px;
}

#animate1 {
    width: 50vh;
    height: 35vh;
    position: center;
    padding-bottom: 20px;
}

#stop1 {
    width: 75vh;
    height: 50vh;
    position: center;
    padding-bottom: 20px;
    display: none;
}